
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<div id='martini'>
  <div id='about'>About
    <p>A second theory holds that the name is derived from the term “cock tailings,” the result of the practice of tavern owners combining the dregs (tailings) of nearly empty barrels together into a single elixir that was sold at bargain prices.</p>
    <p> This only makes sense when you know that the spigot of a barrel was sometimes referred to as a “cock.”</p>
  </div>
</div>
